<div class="list-container">
  <h3>Contacts List</h3>

  @if (contacts().length === 0) {
    <p class="empty-state">Aucun contact disponible</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Job</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Linkedin</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        @for (contact of contacts(); track contact.id) {
          <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.firstname }}</td>
            <td>{{ contact.lastname }}</td>
            <td>{{ contact.job }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.linkedin }}</td>
            <td>{{ contact.company.name }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>