<div class="list-container">
  <h3>Companies List</h3>

  @if (companies().length === 0) {
    <p class="empty-state">Aucune société disponible</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Siret</th>
          <th>Category</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        @for (company of companies(); track company.id) {
          <tr>
            <td>{{ company.id }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.siret }}</td>
            <td>{{ company.category }}</td>
            <td>{{ company.size }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>