<h3>Companies List</h3>

<table>
    <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Siret</td>
        <td>Category</td>
        <td>Size</td>
    </thead>
    <tbody>
        @for (company of companies(); track company.id) {
            <tr class="td">{{ company.id }}</tr>
            <tr class="td">{{ company.name }}</tr>
            <tr class="td">{{ company.siret }}</tr>
            <tr class="td">{{ company.category }}</tr>
            <tr class="td">{{ company.size }}</tr>
        }
    </tbody>
</table>